<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>



  <div class="header d-flex justify-content-center black">

    <img src="/images/logo-name.png" alt="">

  </div>


  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand col-9" href="#">Imagine Dragons</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home </a>
        <a class="nav-item nav-link" href="/albums">Albums</a>
        <a class="nav-item nav-link" href="/albums">Chat</a>
        <a class="nav-item nav-link" href="/feedback">Feedback</a>
      </div>
    </div>

  </nav>
  <div class="row" style="margin: 50px">

    <div class="left-side d-flex col-6 justify-content-start">
      <form id="feedback-form">
        <div class="form-group"></div>
        Name <br>
        <input type="text" id="name" name="name" placeholder="name"><br>
        Email <br>
        <input type="text" id="email" placeholder="email" name="email"> <br>
        Message <br>
        <textarea name="textarea" id="message" cols="30" rows="5" placeholder="Enter your text here..."></textarea>
        <br>
        <br>


        <button type="submit">Submit</button>

      </form>
    </div>

    <div class="right-side d-flex col-6 justify-content-center" style="border: black solid 1px">
      <h2>Comments:</h2>

      <div id="comments" class="">

      </div>





    </div>

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/js/feedback.js"></script>
</body>

</html>
